################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TransportationCore
/obj/Debug/net7.0/TransportationCore.assets.cache
/obj/Debug/net7.0/TransportationCore.GeneratedMSBuildEditorConfig.editorconfig
/.vs/ProjectEvaluation
/bin/Debug/net7.0/TransportationCore.dll
/bin/Debug/net7.0/TransportationCore.exe
/bin/Debug/net7.0/TransportationCore.pdb
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/TransportationCore.AssemblyInfo.cs
/obj/Debug/net7.0/TransportationCore.AssemblyInfoInputs.cache
/obj/Debug/net7.0/TransportationCore.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/TransportationCore.dll
/obj/Debug/net7.0/TransportationCore.genruntimeconfig.cache
/obj/Debug/net7.0/TransportationCore.pdb
/obj/Debug/net7.0/TransportationCore.sourcelink.json
/obj/Debug/net7.0/refint/TransportationCore.dll
/obj/Debug/net7.0/ref/TransportationCore.dll
/obj/Debug/net7.0/TransportationCore.csproj.CoreCompileInputs.cache
/obj/project.assets.json
/obj/project.nuget.cache
/obj/TransportationCore.csproj.nuget.dgspec.json
