################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TransportationCore
/obj/Debug/net7.0/TransportationCore.assets.cache
/obj/Debug/net7.0/TransportationCore.GeneratedMSBuildEditorConfig.editorconfig
